@*@model axy.Models.ModelVueHome*@
@model DataAccessLayer.Entities.CategoryDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <div class="jumbotron">
            <h1 class="display-4">Welcome</h1>
            <form method="post" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <label>Date time</label>
                    <input type="date" class="form-control" name="Model.CurrentDate">
                </div>
                <div class="form-group">
                    @if (!Model.IsIncome)
                    {
                        <label for="formGroupExampleInput2">Sum</label>
                        <input class="form-control" id="formGroupExampleInput2" name="Model.SumReceipt" placeholder="Sum">
                    }
                    else
                    {
                        <label for="formGroupExampleInput2">Sum</label>
                        <input class="form-control" id="formGroupExampleInput2" name="Model.SumExpenditure" placeholder="Sum">
                    }

                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" asp-for="IsIncome" type="checkbox" id="flexSwitchCheckChecked" unchecked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" name="Model.IsIncome">Receipts/Expenditures </label>
                </div>
                <br /><br />
                <label for="formGroupExampleInput">Category</label><br />
                <div class="input-group mb-3">
                   @if (!Model.IsIncome)
                    {
                        <select class="custom-select" asp-for="@Model.ReceiptId" name="Model.ReceiptId" asp-items="ViewBag.ReceiptId">
                            <option value="Model.NameReceipt"> Choose an option</option>
                        </select>
                    }
                    else
                    {
                        <select class="custom-select" asp-for="@Model.ExpenditureId" name="Model.ExpenditureId" asp-items="ViewBag.ExpenditureId">
                            <option value="Model.NameExpenditure"> Choose an option</option>
                        </select>
                    }

                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">
                            <a asp-action="Categories">
                                Edit
                            </a>
                        </label>

                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Description</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="Model.DescriptionCategory" placeholder="Add description">
                </div>
                <br />
                <input type="submit" class="btn btn-warning btn-lg" value="Save" />
            </form>
        </div>

        <div class="card">
            <div class="card-body">
                <ul class="list-unstyled text-left">
                    <li>Current balans: @Model.CurrentBalance</li>
                    <li>Savings for this month: @Model.SavingForThisMounth</li>
                    <li>Balance at the beginning of the month: @Model.BalanceTheBeginningMounth</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#flexSwitchCheckChecked').click(function () {
            var val1 = $('#flexSwitchCheckChecked').is(':checked');
            $.ajax({
                type: "POST",
                url: "@Url.Action("IndexSwitcher")",
                data: { switcher: val1},
                dataType: "text",
                success: function (msg) {
                    console.log(msg);

                  
                  
                },
            error: function (req, status, error) {
              console.log(msg);
            }
        });
        });
    });
</script>